/* 2007 colors

.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}*/

/* 1943 colors

.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
} */

/* 1975 colors 

.first-color { 
	background: #d3d6db; 
}
	
.second-color { 
	background: #3a4750; 
}

.third-color { 
	background: #303841; 
}

.fourth-color { 
	background: #be3144; 
} */

/* 1993 colors

.first-color { 
	background: #2e94b9; 
}
	
.second-color { 
	background: #475053; 
}

.third-color { 
	background: #acdcee; 
}

.fourth-color { 
	background: #f0fbff; 
}*/

/* 1995 colors

.first-color { 
	background: #fe7847; 
}
	
.second-color { 
	background: #ca2c3f; 
}

.third-color { 
	background: #a21738; 
}

.fourth-color { 
	background: #4c0b2f; 
}*/

/* 2018

.first-color { 
	background: #27296d; 
}
	
.second-color { 
	background: #5e63b6; 
}

.third-color { 
	background: #a393eb; 
}

.fourth-color { 
	background: #f5c7f7; 
}

*/
* {
    box-sizing: border-box;
}
body {
    background: #385170;
}
/* navbar css */
.navbar {
	background: #142d4c;
    height:150px;
}
.navbar-brand {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size:45px;
}
/* description css */
.description {
    background: #ececec;
    height:400px;
    position: relative;
    top:50px;
    margin-bottom:50px;
    padding:20px;
    overflow:scroll;
}
.title {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}
.para {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* image css */
.image {
    background: #9fd3c7;
    height:400px;
    position: relative;
    top:50px;
    margin-bottom:50px;
}
.daimage {
    height:400px;
    padding:20px;
}
.what {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    color:white;
}
/* hr css */
hr {
    border:solid #ececec 2px;
    opacity:1;
    margin-top:50px;
    margin-bottom:50px;
}
/* button css */
.button1 {
    border-radius:50%;
    width:175px;
    height:175px;
    margin:20px;
    box-shadow:6px 6px 4px black;
    background: #ececec;
    transition:0.125s;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
.button1:active {
    background:#ececec;
    box-shadow:none;
    border:none;
    transition:0.125s;
}
.button2 {
    border-radius:50%;
    width:175px;
    height:175px;
    margin:20px;
    box-shadow:6px 6px 4px black;
    background: #9fd3c7;
    transition:0.125s;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.button2:active {
    background:#9fd3c7;
    box-shadow:none;
    border:none;
    transition:0.125s;
}
/* footer css */
footer {
    background: #142d4c;
    height:100px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}
/* scroll bar css */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:grey;
    transition:0.5s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    transition:0.5s;
  }