/* .first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
} */

body {
    background: #385170;
}
.navbar {
	background: #142d4c;
    height:150px;
}
.navbar-brand {
    font-size:45px;
}
.description {
    background: #ececec;
    height:400px;
    position: relative;
    top:50px;
    margin-bottom:50px;
    padding:20px;
    overflow:scroll;
}
.image {
    background: #9fd3c7;
    height:400px;
    position: relative;
    top:50px;
    margin-bottom:50px;
}
.daimage {
    height:400px;
    padding:20px;
}
hr {
    border:solid white 2px;
    opacity:1;
    margin-top:50px;
    margin-bottom:50px;
}
.btn {
    

}
.button1 {
    border-radius:50%;
    width:175px;
    height:175px;
    margin:20px;
    box-shadow:6px 6px 4px black;
    background: #ececec;
    transition:0.5s;
}
.button1:hover {
    background: #ececec;
}
.button1:active {
    background:#ececec;
    box-shadow:none;
    border:none;
    transition:0.5s;
}
.button2 {
    border-radius:50%;
    width:175px;
    height:175px;
    margin:20px;
    box-shadow:6px 6px 4px black;
    background: #9fd3c7;
}
.button2:hover {
    background: #9fd3c7;
}
.button2:active {
    background:#9fd3c7;
    box-shadow:none;
    border:none;
}